<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Api">
        <classes>
            <class name="com.lits.tests.WebServiceTest"/>
        </classes>
    </test>

    <test name="UI">
        <classes>
            <class name="com.lits.tests.ExampleTest"/>
        </classes>
    </test>
</suite>